
.container {
    padding: 1em;
    display: flex;
    margin: 5em auto;
}

button {
    background: royalblue;
    border: none;
    padding: .5em;
    border-radius: 5px;
    color: #fff;
}

.card {
    border: black 1px 1px 1px;
}

.img {
    width: 180px;
    height: 180px;
    border-radius: 5px;
}
